*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 2px 2px 5px black;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://wallpaperaccess.com/full/1209558.jpg);
    background-size: cover;
}

a{
    text-decoration: none;
    color: white;
}


/* header */
/* divido l'header in colonne */
header.row > div{
    float: left;
    width: calc(100% / 3);
    height: 100px;
}

/* logo della pagina */
.logo a{
    font-family: 'Fredoka One', cursive;
    font-size: calc(1em + 1vw);
    line-height: 100px;
    margin-left: calc(10px + 2vw);
}

/* colonna barra di navigazione */
.navbar{
    text-align: center;
}

/* elementi della barra di navigazzione */
.navbar li{
    line-height: 100px;
    padding: 0 calc(5px + .5vw);
    display: inline-block;
    font-family: 'Della Respira', serif;
}

/* colonna hamburger menù */
.hamburger{
    text-align: right;
}

/* setto icona menù hamburger */
.hamburger a::before{
    line-height: 100px;
    content: "\f0c9";
    font-family: Fontawesome;
    background-color: rgba(0,0,0,.50);
    border-radius: 50%;
    padding: 15px 17px;
    font-size: calc(1em + .5vw);
    margin-right: calc(10px + 2vw);
}

/* main */
.side-arrow{
    float: left;
    width: 5%;
    height: calc(100vh - 200px);
    text-align: center;
    font-family: Fontawesome;
    color: white;
    font-size: calc(3em + 1vw);
    line-height: calc(100vh - 200px);
}

.side-arrow .left::before{
    content: "\f053";
}

.side-arrow .right::before{
    content: "\f054";
}


.content{
    float: left;
    width: 90%;
    height: calc(100vh - 200px);
}



/* footer */
footer{
    line-height: 100px;
    text-align: center;
    color: white;
}

footer span{
    font-family: 'Fredoka One', cursive;
    font-size: calc(1em + .1vw);
}
