*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    content: "";
    display: table;
    clear: both;
}


/* header */
header{
    width:100%;
    /* DEBUG:  */
    height: 100px;
    content: "";
    display: table;
    clear: both;
}

#name{
    font-size: calc(30px + .5vw);
    font-family: 'Fredoka One', cursive;
    line-height: 100px;
    float: left;
    padding-left: calc(10px + 1vw);
}



/* main */
.side-arrow{
    float: left;
    width: 5vw;
    /* DEBUG:  */
    height: calc(100vh - 200px);
    background-color: blue;
}

.content{
    float: left;
    width: 90vw;
    /* DEBUG:  */
    height: calc(100vh - 200px);
    background-color: green;
}


/* footer */
footer{
    width: 100%;
    /* DEBUG:  */
    height: 100px;
    background-color: red;
}
